*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    font-family: 'Montserrat-SemiBold', 'sans-serif';
    text-align: center;
    font-size: 28px;
    color: #282828;
    width: 300px;
}