* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  font-family: 'Montserrat-SemiBold', 'sans-serif';
  text-align: center;
  font-size: 28px;
  color: #282828;
  width: 300px;
}
h3 {
  font-family: 'Montserrat-SemiBold', 'sans-serif';
  color: #282828;
}
p {
  font-family: 'Montserrat-Medium', 'sans-serif';
}
input {
  font-family: 'Montserrat-Medium', 'sans-serif';
}
svg {
  &:hover {
    cursor: pointer;
  }
}
button {
  &:focus {
    outline: 0;
  }
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
